*:not(input) {
  margin: 0;
  padding: 0;
}
body {
  background-color: midnightblue;
  color: #e2b6c4;
  margin: 5rem;
}
section {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  article {
    display: flex;
    margin: 1rem;
    align-items: center;
    p {
      width: 80%;
      margin: 0 1rem;
    }
    img {
      width: 150px;
      padding-right: 1rem;
    }
    .column {
      display: flex;
      flex-direction: column;
    }
    .id_and_title {
      display: flex;
      margin-bottom: 2rem;
      .id {
        padding-right: 0.5rem;
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      width: 20%;
      text-align: center;
      a {
        padding: 0.5rem;
        background-color: #f2d0a4;
        color: #730010;
        text-decoration: none;
        border-radius: 10px;
      }
      .more {
        margin-bottom: 1rem;
        text-decoration: none;
      }
    }
  }
}
