//general css
* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(#200005, #730010);
  color: #f2d0a4;
  a {
    color: #f2d0a4;
    text-decoration: none;
  }
}
//nav css
header {
  background-color: #f2d0a4;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
  padding: 0.5rem;
  nav {
    display: flex;
  }
  a {
    color: #4f000b;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: bold;
  }
  a:hover {
    background-color: #730010;
    color: #f2d0a4;
    border-radius: 10px;
  }
}
#userstat {
  text-align: right;
}
#search1 {
  input {
    background-color: #730010;
    color: #f2d0a4;
    border-radius: 10px;
    padding: 0.2rem;
  }
  [type="submit"] {
    cursor: pointer;
  }
  ::placeholder {
    color: #f2d0a4;
  }
}
#search1Result {
  display: flex;
  div {
    margin: 1rem;
  }
}
//index css
#indexSection {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  a {
    padding: 0.5rem;
    font-weight: bold;
  }
  a:hover {
    background-color: #f2d0a4;
    color: #730010;
    border-radius: 10px;
  }
  .shownMoviesIndex {
    margin: 0.5rem;
    background-color: #f2d0a4;
    color: #730010;
    border-radius: 10px;
    a {
      color: #730010;
    }
    img {
      width: 300px;
      height: 80%;
    }
  }
}
#order {
  button {
    padding: 0.5rem;
    background-color: #f2d0a4;
    border-radius: 10px;
  }
}
//movie_details
#movie_details {
  display: flex;
  width: 80%;
  margin: auto;

  img {
    width: 200px;
  }
  #title_sinop {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    img {
      width: 200px;
      margin-left: 1rem;
    }
  }
  #cat_modify {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 20%;
    text-align: center;
    align-items: center;
    a {
      padding: 0.5rem;
      background-color: #f2d0a4;
      color: #730010;
      border-radius: 10px;
    }
  }
}
